*{
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
   margin:0;

}


h1{font-size: 3.5em; }
h2{font-size: 2.7em;}
h3{font-size: 2em; }
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}


.container{
    max-width: 1400px;
    margin: auto;
}

footer {
    text-align: center; /* Alinear el texto al centro */
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Mayor que la navbar */
  }


header .logo{
    margin: 0;
    padding: 10px 25px;
    font-weight: bold;
    color:rgb(74, 112, 184);
    font-size: 1.5em;

  }
  header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .navbar {
    z-index: 1000; /* Menor que el header */
    margin-top: 50px; /* Ajustar el margin-top para evitar superposición con el header */
  }
  .form-container {
   margin-top: 56px; /* Ajustar el margin-top para que el formulario quede debajo del menú */
   padding: 20px; /* Agregar espacio alrededor del formulario */
   }


@media (min-width:720px){
    header .container{
        flex-direction: row;
    }

    #explicacion .container{
        width: 100%;
        text-align:center;
        display: flex;
        align-items: center;
        flex-direction:row;
    
    }


}

.float-left {
  float: left;
}